.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cols-center-1 {
  align-items: center;
}
.rows-center-1 {
  justify-content: center;
}
.spacing-1 {
  gap: var(--space-1);
}
.spacing-2 {
  gap: var(--space-2);
}
.spacing-3 {
  gap: var(--space-3);
}
.spacing-4 {
  gap: var(--space-4);
}
.grid-cols-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid-cols-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
