h1,
h2,
h3 {
  font-family: var(--font-family-serif);
  text-transform: uppercase;
  max-width: 900px;
}

h1 {
  font-size: clamp(32px, 8vw, 100px);
  font-weight: black;
  letter-spacing: -0.05em;
  line-height: 0.95;
}

h2 {
  letter-spacing: -0.02em;
  font-size: clamp(20px, 4vw, 40px);
}

p {
  font-size: clamp(16px, 2vw, 20px);
  max-width: 600px;
  line-height: 1.7;
}

.text-sm {
  font-size: var(--base-font-size);
}

.text-center {
  text-align: center;
}

.italic {
  font-weight: bold;
  font-style: oblique;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  font-family: var(--font-family-serif);
}
