body {
  font-family: var(--font-family-sans);
}
h1,
h2,
h3 {
  font-family: var(--font-family-serif);
  text-transform: uppercase;
  max-width: 900px;
  letter-spacing: -8px;
}
h1 {
  font-size: clamp(32px, calc(var(--base-font-size) * 1.618 * 5), 100px);
  font-weight: bolder;
}
h2 {
  letter-spacing: -1px;
  font-size: calc(var(--base-font-size) * 1.618 * 2);
}
p {
  font-size: calc(var(--base-font-size) * 1.618);
  max-width: 480px;
}

.text-sm {
  font-size: var(--base-font-size);
}
.text-center {
  text-align: center;
}
.italic {
  font-weight: bold;
  font-style: oblique;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-family: var(--font-family-serif);
}
